@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e6e6e6;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

ul {
  list-style: none;
}

h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.content {
  border-radius: 1rem;
  background-color: white;
  width: 450px;
  padding: 3rem;
}

input[type='text'] {
  height: 44px;
  outline: none;
  font-family: inherit;
  width: 82%;
  border: 1.5px solid black;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.btn {
  cursor: pointer;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  background-color: black;
  border: none;
  color: white;
  font-family: inherit;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 0.3rem;
  margin-bottom: 0.3rem;
}
.check{
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;left: 90px;
}
.delete {
  font-size: 1.3rem;
  cursor: pointer;
}
#Todocon{
  width: 150px;height: 25px;
  position: relative;right: 23px;cursor: pointer;
}

#completedcon{
  width: 150px;height: 25px;
  position: relative;left: 23px;cursor: pointer;
}
